<STYLE TYPE="text/css">
 .tinput
 {
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: µ¸¿ò, arial, helvetica;
    TEXT-DECORATION: overline
 }
.title{
  color: #111111;
  font-family: '±¼¸²', Dotum;
  font-size: 9pt;
  font-weight: bold;
  background: #80E12A;
  text-align:center;
 } 
 .dtitle{
  color: #111111;
  font-family: '±¼¸²', Dotum;
  font-size: 9pt;    
 }
 .rmoney{
  color: #111111;
  font-family: '±¼¸²', Dotum;
  font-size: 9pt;    
  text-align:right; 
  }
 </style>