/* 기존 */
.btnOver
{
	border:0;
	cursor:hand;
}
.btnClass, .btnOut
{
	border:0;
	cursor:hand;
}
.btnOrgClass, .btnOrgOut
{
	border:0;
	cursor:hand;
}
.btnOrgWhiteClass, .btnOrgWhiteOut
{
	border:0;
	cursor:hand;
}
.btnDown 
{
	border:0;
	cursor:hand;
}
/* 신규 */
.Over
{
    filter:gray;
	cursor:hand;
}
.Out
{
    filter:none;
	cursor:hand;
}


/* 일반버튼 2,3,4글자*/
.button_dis		{border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_b01.gif'); 
					cursor:default; 
					font-size:9pt; 
					color:666666;
					visibility:hidden;
					LINE-HEIGHT: 0.6cm;
					}
.button_b01		{border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_b01.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}				
.button_b02		{border:0px solid #C0C0C0; 
					width:35; height:21;
					background-color:FFFFFF;
					background-image: url(''); 
					cursor:hand; 
					font-size:9pt; 
					color:000000;
					LINE-HEIGHT: 0.6cm;
					}						
/* 작성버튼 */
.button_bwrite	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_bwrite.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 검색버튼 */
.button_bsearch	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_bsearch.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 삭제버튼 */
.button_bdelete	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_bdelete.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 목록버튼 */
.button_blist	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_blist.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 확인버튼 */
.button_bok	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_bok.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 새로고침버튼 */
.button_breload	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_breload.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 저장버튼 */
.button_bsave	{
					border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_bsave.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}

/* 긴버튼 */
.button_blong	{
					border:0px solid #C0C0C0; 
					width:125; height:21;
					background-image: url('/COVINet/images/button_blong.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}


/* 내용버튼 2,3,4글자*/
.button_i01		{border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_i01.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}

/* 내용 첨부버튼 */
.button_iattach	{border:0px solid #C0C0C0; 
					width:59; height:21;
					background-image: url('/COVINet/images/button_iattach.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}
/* 내용 긴버튼 */
.button_ilong	{border:0px solid #C0C0C0; 
					width:125; height:21;
					background-image: url('/COVINet/images/button_ilong.gif'); 
					cursor:hand; 
					font-size:9pt; 
					color:666666;
					LINE-HEIGHT: 0.6cm;
					}

